<h1 class="display-4 text-center mb-4">Our Sponsors</h1>

<p class="lead text-center">We are grateful for the generous support of our sponsors who help make HackTheBias possible.</p>

<!-- Example layout -->
<div class="row mt-5">
  <div class="col-md-4 text-center mb-4">
    <img src="/assets/sponsor1.png" alt="Sponsor 1 Logo" class="img-fluid" />
    <p class="mt-2">Sponsor Name 1</p>
  </div>
  <div class="col-md-4 text-center mb-4">
    <img src="/assets/sponsor2.png" alt="Sponsor 2 Logo" class="img-fluid" />
    <p class="mt-2">Sponsor Name 2</p>
  </div>
  <div class="col-md-4 text-center mb-4">
    <img src="/assets/sponsor3.png" alt="Sponsor 3 Logo" class="img-fluid" />
    <p class="mt-2">Sponsor Name 3</p>
  </div>
</div>
